<!-- views/partials/footer.ejs -->
<!-- start footer -->
<!-- add after close of last section but still inside body-->
    <footer class="text-muted">
      <div class="container">

        <div id="currentEtheremAccountDiv"></div>

        <!-- Contract deployment details -->
        <p>在SimpleChain区块链中部署的合约哈希 <a href="https://explorer.simplechain.com/transaction/0x391155849f1e98c890709256821611d260ae935fdb4f3e914fcd54bfdbbe03bd" target="_blank" >0x391155849f1e98c890709256821611d260ae935fdb4f3e914fcd54bfdbbe03bd</a></p>
        <p>SimpleChain区块链合约地址<a href="https://explorer.simplechain.com/contractDetail/0x958b66e98ed6d87bd8164c4e8035b2f5666c858c" target="_blank" >0x958b66e98ed6d87bd8164c4e8035b2f5666c858c</a></p>
        <p>合约创建者 <a href="https://explorer.simplechain.com/account/0x099b9025615599aaa440affa301ff5fb85616e65" target="_blank" >0x099b9025615599aaa440affa301ff5fb85616e65</a></p>

        <br>

        <!-- Standard Footer -->
        <p class="float-right">
          <a href="#">返回顶部</a>
        </p>
        <p>SimpleFile 招投标存证系统（搭建于SimpleChain区块链网络）</p>
      </div>
    </footer>
  <!-- end footer -->