<!-- views/partials/head.ejs -->
<!-- add between head tags-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title %></title>
<meta name="description" content="SimpleFile 招投标存证系统。一个由区块链驱动的投标平台，用于跟踪招标文件的提交。">
<meta name="keywords" content="SimpleFile 招投标存证系统, 招投标, blockchain">
<meta name="author" content="SimpleFile 招投标存证系统">

<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/scripts/bootstrap/css/bootstrap.css'/>
<script src="/scripts/jquery/jquery.js"  crossorigin="anonymous"></script>
<script src="/scripts/bootstrap/js/bootstrap.js"></script>
<script src="/javascripts/tendersubmissionregistry.js"></script>
<script src="/javascripts/sha256.min.js"></script>
